

#canvases {
    width: 100%;
    display: block;
    position: relative;
}

canvas {
    overflow:hidden;
}

body {
	background-color: #282828;
	color: #FFF;
	height: 100%;
	font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    margin: 0;
    font-size: 12px;
}

#email-login {
    display:none;
	position:absolute;
    top:50%;
    right: 0;
    left: 0;
}

form > div {
	text-align: right;
}

input[type=submit] {
	display: block;
	width: 100%;
	height: 30px;
	margin-top: 0px;
    margin-bottom: 25px;
	padding: 12px 15px; 
    border: 0 none;
    cursor: pointer;
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
}

input[type=text], input[type=password] {
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    height: 13px;
    padding:12px;
    margin-bottom: 25px;
    border: 0;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 14px;
    background-color: #7c7c7c;
    color: white;
}

a {
    display: block;
    text-align: center;
}

p {
	display: float;
}


/* login.html */
/* Facebook Login image */
form {
    margin: 0 auto;
    margin-top: 20px;
    width: 50%; /* a given width is required to be centered horizontally */
    vertical-align: helvetica;
}

#social img {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Divider */
.loginDivider > span:before, .loginDivider > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 999px;
    height: 1px;
    background: white;
}

.loginDivider > span:before {
        right: 100%;
        margin-right: 15px;
}

.loginDivider > span:after {
    left: 100%;
    margin-left: 15px;
}

.loginDivider > span {
        position: relative;
        display: inline-block;
}

.loginDivider {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
}

/* Error spans */ 
.error {
    color: red;
}

/* Form labels */
label {
    top: 10px;
    left: 10px;
    opacity: 0.5;
    position:absolute;
    transition: transform .2s; /*all transitions with this label will occur at this speed*/
}

input.filled:valid + label,
input.filled:focus + label {
    transform: translate(0,-70%) translate(0,-20px);
    font-weight: bold;
    opacity: 0.5;
}

/* created to allow labels as placeholders */
fieldset {
    margin: 0;
    padding: 0;
    border: 0;
    position: relative; /* allows labels to be inside */
}






