<!DOCTYPE html>
<html>

<head>
{% block head %}
	<link type="text/css" rel="stylesheet" href="static/style.css">
	<link href='https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,300' rel='stylesheet' type='text/css'>
{% endblock head %}
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
</head>


<body>
	{% block content %}
	<a href="{{ url_for('upload') }}">++++++</a>
	<a href="{{url_for('logout')}}">Log out</a>

	current user: {{ current_user.username }}
	<br><br>
	<!--caps: {{ caps }}-->
	<br><br>
	<!--{% for user in users %}
		{{ user }}: {{ user.caps.all() }}
	{% endfor %}-->

	<br>
	<canvas></canvas>
	{% endblock content %}

	{% block script %}
	<script>
	var caps = {{ caps }};
	</script>
	<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<script src="static/interactivity.js" charset="utf-8"></script>
	{% endblock script %}
</body>

</html>

