<!DOCTYPE html>
<html>

<head>
	<link type="text/css" rel="stylesheet" href="static/style.css">
	<script>
	var caps = {{ caps }};
	</script>
</head>

<body>
	{% for thumbnail in thumbnails %}
	<div><img src="{{ thumbnail.path }}" class="thumbnail"></div>
	{% endfor %}

	<p>The database: {{ thumbnails }}</p>

	<p>The database serialized and converted to JSON: {{ caps }}</p>

	<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<script src="static/interactivity.js" charset="utf-8"></script>
</body>
</html>

