{% extends 'grid.html' %}

{% block head %}
{{ super() }}
{% endblock head %}

{% block content %}
	{% include 'helpers/flash.html' %}
	<a href='{{ url_for("signup") }}' id='signup'>New here? Register</a></div>

	<a id="social" href='{{ url_for("facebook_login") }}'><img src="static/images/facebook.png"></a>

	<div class="loginDivider"><span>OR</span></div>

	<div id='wrapper'>
	<form method='POST' action=''>
		{% from "helpers/render_field.html" import render_field %}

		<!--for csrf protection-->
	    {{ form.hidden_tag() }}

	    {{ render_field(form.username) }}
	    {{ render_field(form.password) }}

	    <div><input type='submit' value='{{ button }}'>

	    <a href="">Forgot password</a><br>
	    
	</form>
	</div>

	<!--<p>{{ users }}</p>-->

<script>
	/* Animated placeholder labels: Every time an input changes,
	check its value. If it's not empty, the input element
	gets assigned a "filled" class, which has been selected in CSS 
	to place the label inside the input as a placeholder. If the 
	value is empty, the input element loses its "filled" class. */ 

	function checkInput(input) {
		if (input.value != '') {
			input.classList.add('filled');
		} else {
			input.classList.remove('filled');
		}
	}

	var form = document.querySelector('form');
	form.addEventListener('input', function(event) {
		checkInput(event.target);
	});

	// Also check inputs' values immediately after page load
	// to check for auto-fill
	window.addEventListener('load', function() {
		var snInput = document.getElementById('username');
		checkInput(snInput);
		var pwInput = document.getElementById('password');
		checkInput(pwInput);
	});
</script>
{% endblock content %}

