<!DOCTYPE html>
<html>

<head>
	<link type="text/css" rel="stylesheet" href="static/style.css">
</head>

<body>
	{% include 'helpers/flash.html' %}
	<form method="POST" action="">
		{% from "helpers/render_field.html" import render_field %}

		<!--for csrf protection-->
	    {{ form.hidden_tag() }}

	    {{ render_field(form.username) }}
	    {{ render_field(form.password) }}

	    <input type="submit" value='{{ button }}'>
	</form>

	<br>
	<a href="{{ url_for('signup') }}">SIGN UP</a>
	<br><br>

	{{ users }}
	
</body>

</html>