<!DOCTYPE html>
<html>

<head>
	<link type='text/css' rel='stylesheet' href='static/style.css'>
</head>

<body>
	{% include 'helpers/flash.html' %}
	<div id='wrapper'>
	<form method='POST' action=''>
		{% from "helpers/render_field.html" import render_field %}

		<!--for csrf protection-->
	    {{ form.hidden_tag() }}

	    {{ render_field(form.username) }}
	    {{ render_field(form.password) }}

	    <div><input type='submit' value='{{ button }}'>
	    <a href='{{ url_for("signup") }}' id='signup'>SIGN UP</a></div>
	</form>
	</div>

	<p>{{ users }}</p>
	
</body>

</html>