{% extends 'grid.html' %}

{% block head %}
{{ super() }}
{% include 'helpers/flash.html' %}
{% endblock head %}

{% block content %}
<a href='{{ url_for("gallery") }}'>RETURN TO GALLERY</a>

<form action='{{ url_for("uploaded") }}' method='post' enctype='multipart/form-data'>
	<label for='upload'>Add caps</label>
	<input type='file' id='upload' name='upload'>
	<input type='submit' value='Upload'>
</form>

<br>
<div id="canvases">
    <canvas style="position: absolute; left: 0; top: 0; z-index: 1;"></canvas>
    <canvas id="crop" style="position: absolute; left: 0; top: 0; z-index: 2;"></canvas>
</div>
{% endblock content %}

{% block script %}
<script type="text/javascript" src="static/upload.js"></script>
<script type="text/javascript" src="static/Hammer.js"></script>
{% endblock script %}

